{% extends 'locator/pages/base.html' %}
{% load i18n %}

{% block title %} Dashboard | {% endblock title %}

{% block content %}
<div class="w-100 d-flex flex-column align-items-center mt-3">
    <h1>Dashboard</h1>

    <form action="{% url 'logoutAction' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{request.user.username}}" />
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{request.user.username}}</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'createPost' %}">{% translate "Create new post" %}</a></li>
                <li><button type="submit" class="not-a-button dropdown-item">{% translate "Logout" %}</button></li>
            </ul>
        </div>
    </form>

    <table class="table table-striped w-75 mt-5">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% translate "Title" %}</th>
                <th scope="col">{% translate "Published" %}</th>
                <th scope="col">{% translate "Found" %}</th>
                <th scope="col">{% translate "User" %}</th>
                <th scope="col">{% translate "Edit" %}</th>
                <th scope="col">{% translate "Delete" %}</th>
                <th scope="col">{% translate "Found" %}?</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{post.id}}</td>
                    <td><a href="{{ post.get_absolute_url }}">{{post.title}}</a></td>
                    <td>{{post.published | yesno | title}}</td>
                    <td>{{post.found | yesno | title}}</td>
                    <td>{{post.user}}</td>
                    <td><a href="{% url 'updatePost' post.id %}">📝</a></td>
                    <td><form action="{% url 'deletePost' post.id %}" method="POST" id="formDeletePost">{% csrf_token %}<button type="submit" class="not-a-button">❌</button></form></td>
                    <td><form action="{% url 'foundPost' post.id %}" method='POST' id='formFoundPost'>{% csrf_token %}<button type="submit" class="btn btn-primary btn-sm">{% translate "Found" %}</button></form></td>
                </tr>

            {% empty %}
                <tr><td colspan="8">{% translate "You have no posts" %}</td></tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
