{% extends 'locator/pages/base.html' %}

{% block title %}
<title>Login | Localizador Pet</title>
{% endblock title %}

{% block content %}
<h1>Login</h1>

{% if request.user.is_authenticated %}
    <h6>Usuário logado: {{request.user.username}}</h6>
    <form action="{% url 'logoutAction' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{request.user.username}}" />
        <button type="submit">Sair</button>
    </form>

{% else %}
    <form action="{% url 'loginAction' %}" method="POST">
        {% csrf_token %}
        {{form}}

        <div class="input-group">
            <button type="submit">Logar</button>
        </div>

        {% if form.errors %}
            <h6>Foram encontrados erros no formulário, confira os dados</h6>
        {% endif %}
    </form>

{% endif %}
{% endblock content %}
