{% extends 'locator/pages/base.html' %}

{% block title %} {{ post.title }} | {% endblock title %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            {% include 'locator/components/carousel.html' %}
        </div>

        <div class="h-100 col">
            <h1>{{ post.title }}</h1>

            {% if post.found %}
                <span class="btn btn-success btn-sm mb-3">{% translate "Found" %}</span>
            {% else %}
                <span class="btn btn-warning btn-sm mb-3">{% translate "Missing" %}</span>
            {% endif %}

            <p>{{ post.neighborhood }} - {{ post.city }}</p>
            <p>{{ post.description }}</p>

            <div class="user-info border shadow mt-5 mb-2 py-4">
                <a href="https://wa.me/+55{{post.user.phone}}">
                    <i class="bi bi-person-fill"></i> {{ post.user.get_full_name }} - <i class="bi bi-telephone-fill"></i> {{post.user.phone}}
                </a>
            </div>

            <p>{% translate "Last update" %}: {{ post.updated_at | date:'d/m/Y' }} {% translate "at" %} {{ post.updated_at | date:'H:i' }}</p>
        </div>
    </div>
</div>
{% endblock content %}
