.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0% 2% 0%;
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.navbar-username {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.img-logo {
    width: 100%;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-logo {
        width: 50%;
    }

    .navbar-username {
        width: 50%;
    }

    .navbar-menu {
        width: 50%;
    }
}