:root {
    --background-primary: white;
    --background-secondary: grey;
    --primary: purple;
    --text: black;
    --danger: red;
    --attention: #FFFFBD;
}

* {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--background-primary);
}

.paginator {
    text-align: center;
}

.current-page {
    color: var(--primary);
    font-size: 2vw;
    margin: 0px 5px 0px 5px;
}

.page {
    color: var(--background-secondary);
    font-size: 2vw;
    margin: 0px 5px 0px 5px;
}

.cover {
    width: 100%;
    max-height: 180px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.user-info {
    font-weight: bold;
}

.not-a-button {
    border: 0;
    background-color: transparent;
}

.table-holder {
    width: 75%;
    margin-top: 2%;
}

@media (max-width: 600px) {
    .table-holder {
        overflow-x: scroll;
    }
}