body {
    background-color: grey;
}

.cover {
    width: 30%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.card {
    position: relative;
}