footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer>h6 {
    font-weight: bold;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer>h6 {
        margin-top: 5%;
        font-weight: 500;
    }
}