{% load i18n %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        {% if post.image1 %}
            <figure class="carousel-item active">
                <img src="{{ post.image1.url }}" class="d-block w-100">
            </figure>
        {% endif %}

        {% if post.image2 %}
            <figure class="carousel-item">
                <img src="{{ post.image2.url }}" class="d-block w-100">
            </figure>
        {% endif %}

        {% if post.image3 %}
            <figure class="carousel-item">
                <img src="{{ post.image3.url }}" class="d-block w-100">
            </figure>
        {% endif %}

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{% translate "Previous" %}</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{% translate "Next" %}</span>
        </button>

    </div>
</div>