<div class="w-100 d-flex flex-row justify-content-center mt-5 mb-5">
    <div class="w-75 d-flex flex-row justify-content-center">
        <div class="w-75 d-flex flex-row justify-content-start">
            <a href="{% url 'home' %}">
                <img src="https://www.petfinder.com/themes/custom/consumer_react/logo.svg" />
            </a>
        </div>

        {% if request.user.is_authenticated %}
            <div class="w-25 d-flex flex-row justify-content-end">
                <a href="{% url 'dashboard' %}"><b>{{request.user.get_full_name}}</b></a>
            </div>

        {% else %}
            <div class="w-25 d-flex flex-row justify-content-between">
                <a href="{% url 'registerForm' %}"><b>Sign Up</b></a>
                <a href="{% url 'loginForm' %}"><b>Log In</b></a>
            </div>

        {% endif %}
    </div>
</div>
