{% load i18n %}
{% load static %}

<nav class="navbar">
    <figure class="navbar-logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'locator/img/logo.svg' %}" class="logo  " />
        </a>
    </figure>

    {% if request.user.is_authenticated %}
        <div class="navbar-username">
            <a href="{% url 'dashboard' %}">
                <i class="bi bi-person-fill"></i> {{request.user.get_full_name}}
            </a>
        </div>
    {% else %}
        <div class="navbar-menu">
            <a href="{% url 'registerForm' %}"><b>{% translate "Sign Up" %}</b></a>
            <a href="{% url 'loginForm' %}"><b>{% translate "Log In" %}</b></a>
        </div>
    {% endif %}
</nav>
