{% if page.has_other_pages %}
<div class="paginator">

    {% if paginationInfo.isFirstPageNotInRange %}
        <a href="?page=1{{ additionalParam }}" class="bi bi-arrow-left page"></a>
    {% endif %}

    {% for page in tinyRange %}
        {% if page == paginationInfo.currentPage %}
            <a href="?page={{ page }}{{ additionalParam }}" class="current-page">{{ page }}</a>
        {% else %}
            <a href="?page={{ page }}{{ additionalParam }}" class="page">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if paginationInfo.isLastPageNotInRange %}
        <a href="?page={{ paginationInfo.totalSize }}{{ additionalParam }}" class="bi bi-arrow-right page"></a>
    {% endif %}

</div>
{% endif %}
