{% load i18n %}

<article>
    <a href="{{ post.get_absolute_url }}">
        <div class="text-center shadow rounded pb-2 pt-3">
            <div class="d-flex flex-row justify-content-start">
                <i class="ms-3 bi bi-calendar4-event"></i>
                <p class="ms-3 text-start">{{ post.updated_at | date:'d/m/Y' }}</p>
            </div>

            {% if post.image1 %}
            <img src="{{ post.image1.url }}" class="cover" />
            {% endif %}

            {% if post.found %}
                <span class="btn btn-success btn-sm my-2">{% translate "Found" %}</span>
            {% else %}
                <span class="btn btn-warning btn-sm my-2">{% translate "Missing" %}</span>
            {% endif %}

            <h3>{{ post.title }}</h3>
            <p>{{ post.neighborhood }} - {{ post.city }}</p>
        </div>
    </a>
</article>
