<div class="card text-center shadow rounded p-3">

    <a href="{% url 'post' post.id %}">
        <img src="{{ post.image1.url }}" class="cover" />
        <h3 class="mt-3">{{ post.title }}</h3>
    </a>

    <p>{{ post.description }}</p>

    {% if post.autor.first_name %}
        <p>{{ post.autor.first_name }} {{ post.autor.last_name }}</p>
    {% else %}
        <p>{{ post.autor.username }}</p>
    {% endif %}

    <p>Criado em: {{ post.created_at | date:'d/m/Y' }} às {{ post.created_at | date:'H:i' }}</p>
    <p>Atualizado em: {{ post.updated_at | date:'d/m/Y' }} às {{ post.updated_at | date:'H:i' }}</p>

</div>