{% extends 'localizador/pages/base.html' %}

{% block titulo %}
<title>Localizador Pet</title>
{% endblock titulo %}

{% block conteudo %}
<div class="h-100 d-flex flex-row">
    <h1>Localizador Pet</h1>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% for dado in dados %}
    {% include 'localizador/components/post-preview.html' %}
{% endfor %}
</div>

</div>
{% endblock conteudo %}